<div id="app-container">
  <div id="home">
    <div class="section-header">
      <h3>{{firstName}} {{lastName}}'s Roster</h3>
      <button data-id="{{id}}" class="btn btn-danger float-right add-student"
        onclick="document.getElementById('addUserModal').style.display='block'" id="student-modal">Add Student</button>
    </div>
    {{#if Students}}
    {{#each Students}}
    <li data-id="{{this.id}}" class="list-group-item student">
      <h3>{{this.firstName}} {{this.lastName}}</h3>
      <button class="btn btn-primary float-right delete">ｘ</button>
    </li>
    {{/each}}
    {{/if}}
    {{#unless Students}}
    No students to display. Add some to use the app!
    {{/unless}}
  </div>
  <div id="students-container">
    {{#if Students}}
    {{#each Students}}
    {{>students/student-block id=id firstName=firstName lastName=lastName notes=notes display="none" displayActions="flex"}}
    {{/each}}
    {{/if}}
  </div>
</div>
{{!-- <div> --}}
{{>addStudent/addStudent-block}}
{{!-- </div> --}}
</div>