<div class="student-body" id="{{this.id}}-student" style="display:{{this.display}}">
    <div class="section-header">
        <h3>{{this.firstName}} {{this.lastName}}'s Lessons</h3>
        <button id="lesson-modal" data-id="{{this.id}}" class="btn btn-primary float-right add-lesson"
            style="display:{{this.displayActions}}"><i class="far fa-edit"></i></button>
    </div>
    <div class="lesson-list-container" id="student-{{this.id}}">
        {{#if Lessons}}
        {{#each Lessons}}

        <div data-id="{{this.id}}" class="list-group-item lesson">
            <span>
                <h3>
                    <a href="../api/lesson/{{this.id}}">{{this.topic}}</a>
                </h3>
                <p class="date">{{this.createdAt}}</p>
            </span>
        </div>
        {{/each}}
        {{/if}}
    </div>
    {{#unless Lessons}}
    <span id="no-lessons">No lessons to display. Add some to use the app!</span>
    {{/unless}}
</div>


{{#if Lessons}}
{{#each Lessons}}
{{>lessons/lesson-block}}
{{/each}}
{{/if}}