<div class="student-body" id="{{this.id}}-student" style="display:{{this.display}}">
    <div class="section-header">
        <h3>{{this.firstName}} {{this.lastName}}'s Lessons</h3>
        <button id="lesson-modal" data-id="{{id}}" class="btn btn-primary float-right add-lesson"
            style="display:{{this.displayActions}}">Add
            Lesson</button>
    </div>
    <ul id="student-{{this.id}}" class="list-group">
        {{#if Lessons}}

        {{#each Lessons}}

        <li data-id="{{this.id}}" class="list-group-item lesson">
            <span>
                <h3>
                    <a href="../api/lesson/{{this.id}}">{{this.topic}}</a>
                </h3>
                <p class="date">{{this.createdAt}}</p>
                <button class="float-right">+</button>
            </span>
        </li>
        {{/each}}
        {{/if}}
    </ul>
    {{#unless Lessons}}
    No lessons to display. Add some to use the app!
    {{/unless}}
</div>



{{#if Lessons}}

{{#each Lessons}}
{{>lessons/lesson-block}}
{{/each}}

{{/if}}